body
{
  background-color: #FDFDEB;
}
hr
{
  border-style: dotted none none;
  border-color: #E38B29;
  border-width: 5px;
  width: 70%;
}
h1
{
  color: #2C3333;
}
h2
{
  color:#2C3333;
}
h3
{
  color:#2C3333;
}
